{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Contact form{% endblock %}
{% block content %}
{% for message in form.name.errors %}
<div class="well">{{message}}</div>
{% endfor %}
{% for message in form.email.errors %}
<div class="well">{{message}}</div>
{% endfor %}
<form action="http://127.0.0.1:5000/contact" method=post>
  <fieldset>
    <legend>Contact form</legend>
    {{form.hidden_tag()}}
    <div style="font-size:20px;forn-weight:bold;margin-left:150px;">
      {{form.name.label}}<br>
      {{form.name}}
      <br>

      {{form.Address.label}}<br>
      {{form.Address}}
      <br>
      {{form.email.label}}<br>
      {{form.email}}
      <br>
      {{form.Age.label}}<br>
      {{form.Age}}<br>
      {{form.language.label}}<br>
      {{form.language}}
      <br>
      {{form.submit}}
    </div>
  </fieldset>
</form>

{% endblock %}
